<link href="/css/student.css" rel="stylesheet">
<main><div class="container">
<div class="row">
    <form class="col s12" id="student-form" action="/addStudent" method="post">

        <div class="form-field">
            <label for="student_name">Student Name</label>
            <input placeholder="Enter the student's name" id="student_name" type="text" class="validate" />

        </div><br>
        <div class="form-field">
            <button type="submit" class="btn-large deep-orange lighten-2">Add student</button>
        </div>
    </form>
</div> <br>

<div id="studentdivbody">

</div>
</div></main>

<footer>
    <img class="responsive-img" src="/../images/dreamstime_four.jpg" width="1800px">
</footer>
