<div class="container">
    <div class="row login">
        <div class="col s12 m6 offset-m3">

            <form class="login">
                <div class="card">
                    <div class="card-action deep-orange lighten-2 white-text">
                        <h4>Log In with Email & Password</h4>
                    </div>
                    <div class="card-content">
                        <div class="form-field">
                            <label for="username" class="black-text">Email </label>
                            <input type="text" id="username">
                        </div> <br>

                        <div class="form-field">
                            <label for="password" class="black-text"> Password </label>
                            <input type="password" id="password">
                        </div> <br>
                        <div class="form-field center-align">
                            <button type="submit" class="btn btn-default">Log In</button>
                        </div>
                    </div>
                </div>
            </form>

            <br />
            <p>Don't have an account? Sign up <a href="/signup">HERE</a></p>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>