<div class="container">
    <div class="row login">
        <div class="col s12 m6 offset-m3">

            <form class="signup">
                <div class="card">
                    <div class="card-action deep-orange lighten-2 white-text">
                        <h4>Please sign up</h4>
                    </div>
                    <div class="card-content">
                        {{#if isTeacher}}
                        <div class="form-field">
                            <label for="user_name" class="black-text">Name</label>
                            <input type="text" id="user_name">
                        </div> <br>
                        {{else}}
                        <div class="form-field">
                            <label for="user_name" class="black-text">Name </label>
                            <select id="user_name">
                                <option value="" disabled selected>Choose Parent</option>
                                <option value="" >Parent McParent</option>
                                {{#each parents}}
                                <option value="{{this.id}}">{{this.parent_name}}</option>
                                {{/each}}
                            </select>
                        </div><br>
                        {{/if}}
                        <div class="form-field">
                            <label for="email" class="black-text">Email </label>
                            <input type="text" id="email">
                        </div> <br>

                        <div class="form-field">
                            <label for="password" class="black-text"> Password </label>
                            <input type="password" id="password">
                        </div> <br>
                        <div class="form-field center-align">
                            <button type="submit" class="btn btn-default">Signup</button>
                        </div>
                    </div>
                </div>
            </form>

            <br />
            <p>Or log in <a href="/login">here</a></p>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/signup.js"></script>